.display {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--screen-background);
  margin-top: 1rem;
  min-height: 65px;
}

.display-text {
  color: var(--text-header);
  font-size: 1.75rem;
}