:root {
    --main-background: hsl(222, 26%, 31%);
    --toggle-background: hsl(223, 31%, 20%);
    --keyboard-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --footer-background: hsl(224, 36%, 15%);

    --control-key-background: hsl(225, 21%, 49%);
    --control-key-shadow: hsl(224, 28%, 35%);

    --link-color: hsl(225, 21%, 49%);

    --toggle-color: hsl(6, 63%, 50%);
    --equal-background: hsl(6, 63%, 50%);
    --equal-shadow: hsl(6, 70%, 34%);

    --key-background: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);

    --text: hsl(221, 14%, 31%);
    --text-header: hsl(0, 0%, 100%);
    --text-footer: hsl(0, 0%, 100%);
    --text-success: hsl(0, 0%, 100%);
    --text-danger: hsl(0, 0%, 100%);
    --text-dark: hsl(0, 0%, 100%);
}

@import './styles/header.css';
@import './styles/keypad.css';
@import './styles/switcher.css';
@import './styles/display.css';
@import './styles/footer.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, html, button {
    font-family: 'Spartan', sans-serif;
}

body {
    background: var(--main-background);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.container {
    flex: 1;
    width: 100%;
    padding: 30px;

    color: var(--text);
}

a { 
    text-decoration: none;
    transition: all 0.3s ease;   
    color: var(--link-color);
}

a:hover {
    filter: brightness(1.2);
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 1023px) {
    .container {
        padding: 120px 30px;
    }
}